<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find xerobotvisai2)/worlds/room.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <param name="robot_description" command="$(find xacro)/xacro $(find xerobotvisai2)/urdf/xerobotvisai2.urdf" />
  <param name="use_sim_time" value="true"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model xerobotvisai2" output="screen" />
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" />
  <rosparam file="$(find xerobotvisai2)/config/arm.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller taymay1_joint_position_controller taymay2_joint_position_controller" output="screen"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <!-- Không khởi chạy RViz trong gazebo.launch để tránh xung đột -->
</launch>